<div class="container-fluid">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image" style="text-align: center;">
                    <img style=" width: 300px; object-fit: cover;" src="/img/man_1.png">
                </div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create a New Character!</h1>
                        </div>
                        <form class="user">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" id="characterName"
                                    placeholder="Character Name">
                            </div>
                            <a href="#" id="btnAddCharacter" class="btn btn-primary btn-user btn-block">
                                Create Character
                            </a>
                            <hr>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function getCookie(name) {
        let matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    // 캐릭터 생성 버튼 
    document.getElementById('btnAddCharacter').addEventListener('click', () => {


        const data = {
            "characterName": document.getElementById('characterName').value
        }

        // 캐릭터 생성 API
        fetch('/api/character', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                authorization: getCookie('accessToken'),
            },
            body: JSON.stringify(data),
        })
            .then(async (response) => {
                if (response.status === 201) {
                    const res = await response.json();
                    alert(`[${res.data.characterName}]이 생성되었습니다.`);
                }
            })
            .catch((err) => {
                console.log('err => ', err.message);
                alert('오류가 발생했습니다.');
            });
    });

</script>